# Add any directories, files, or patterns you don't want to be tracked by version control
build
__pycache__
pydelta/__pycache__
.cache
tests/results
tests/scenes/living-room-3
tests_tensorflow/results
tutorials/results
tutorials/bunny
tutorials/bunny.zip
tutorials/teapot
tutorials/teapot.zip
tutorials/mori_knob
tutorials/mori_knob.zip
tutorials/.ipynb_checkpoints
tutorials/None0000000.png
tutorials/brick_normal.png
tutorials/default.png
tutorials/grace-new.exr
tutorials/conference
tutorials/conference.zip
examples/results
debug.exr
fit_ltc/fitLTC
fit_ltc/results
playground
dockerfiles/dependencies/
.vscode
redner.egg-info
dist
log.txt
docs/build
